# Actividad 2: Estadística Descriptiva

Este notebook realiza un análisis estadístico descriptivo del dataset limpio de películas IMDB, como parte del proceso de minería de datos.

## Objetivos
- Obtener estadísticas generales de las variables.
- Identificar entidades y relaciones.
- Agrupar datos por entidades y calcular estadísticas agrupadas.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../1_data_cleaning/dataset_limpio.csv')
df.head()

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009-01-01,936.0,7.9,33000
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007-01-01,5000.0,7.1,0
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015-01-01,393.0,6.8,85000
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012-01-01,23000.0,8.5,164000
4,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,PG-13,263700000.0,2012-01-01,632.0,6.6,24000

In [3]:
# Estadísticas generales para columnas numéricas
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,actor_2_facebook_likes,imdb_score,movie_facebook_likes
count,4919.000000,4919.000000,4919.000000,4919.00000,4919.000000,4.143000e+03,4.919000e+03,4919.000000,4919.000000,4919.000000,4.528000e+03,4919.000000,4919.000000,4919.000000
mean,142.522667,108.205936,689.028868,651.20553,6682.873145,4.862508e+07,8.509453e+04,9877.126855,1.367554,276.777394,3.989956e+07,1678.900183,6.416629,7613.643423
std,121.114253,22.509121,2818.741681,1681.08616,15166.768749,6.852864e+07,1.397626e+05,18344.114292,2.012843,380.523370,2.066144e+08,4083.278694,1.115623,19480.997017
min,1.000000,7.000000,0.000000,0.00000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,0.000000,1.600000,0.000000
25%,53.000000,94.000000,7.000000,133.00000,622.000000,5.404758e+06,9.023500e+03,1439.000000,0.000000,68.000000,6.000000e+06,284.000000,5.800000,0.000000
50%,112.000000,104.000000,49.000000,372.00000,997.000000,2.559263e+07,3.513100e+04,3141.000000,1.000000,160.000000,2.000000e+07,600.000000,6.500000,166.000000
75%,196.000000,118.000000,197.000000,637.00000,11000.000000,6.242729e+07,9.835100e+04,14093.500000,2.000000,331.000000,4.500000e+07,922.000000,7.200000,3000.000000
max,813.000000,330.000000,23000.000000,23000.00000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,137000.000000,9.500000,349000.000000

In [4]:
# Moda de algunas variables categóricas
print("Moda del país:", df['country'].mode()[0])
print("Moda del idioma:", df['language'].mode()[0])
print("Moda del contenido:", df['content_rating'].mode()[0])

Moda del país: USA
Moda del idioma: English
Moda del contenido: R

In [6]:
df['country'].value_counts()

country
USA                   3723
UK                     433
France                 151
Canada                 122
Germany                 97
                      ...
Slovenia                 1
Afghanistan              1
Dominican Republic       1
Kenya                    1
Philippines              1
Name: count, Length: 63, dtype: int64

## Entidades y relaciones

A partir de las columnas del dataset se pueden identificar las siguientes entidades:

- Película: entidad principal, representada por `movie_title`
- Director: relacionada a una o muchas películas (`director_name`)
- Actores: cada película tiene 3 actores (`actor_1_name`, `actor_2_name`, `actor_3_name`)
- País / Idioma / Género: atributos relacionados a cada película

Se pueden establecer relaciones como:

- Un director puede dirigir muchas películas.
- Un actor puede participar en muchas películas.
- Cada película tiene un género, un país y un idioma.

Estas relaciones permiten modelar el dataset como un esquema entidad-relación simple.

In [7]:
# Número de películas por director
df['director_name'].value_counts().head(10)

director_name
Steven Spielberg     26
Woody Allen          22
Clint Eastwood       20
Martin Scorsese      20
Ridley Scott         17
Steven Soderbergh    16
Spike Lee            16
Tim Burton           16
Renny Harlin         15
Oliver Stone         14
Name: count, dtype: int64

In [8]:
# Promedio de duración y presupuesto por país
df.groupby('country')[['duration', 'budget']].mean().sort_values(by='budget', ascending=False).head(10)

                  duration        budget
country
South Korea     120.857143  1.383960e+09
Hungary         121.500000  1.260000e+09
Japan           118.590909  3.505960e+08
Thailand        142.800000  2.272500e+08
India           137.303030  1.033997e+08
New Line        104.000000  9.000000e+07
New Zealand     132.066667  8.152692e+07
China           114.866667  6.221900e+07
Czech Republic  117.000000  4.881667e+07
Peru            110.000000  4.500000e+07

In [9]:
# Promedio de IMDB score por género
df['genres'] = df['genres'].str.split('|').str[0]  # Tomamos el primer género
df.groupby('genres')['imdb_score'].mean().sort_values(ascending=False)

genres
Film-Noir      7.600000
History        7.500000
Music          7.200000
Documentary    7.180000
Biography      7.156972
Crime          6.842900
Drama          6.743584
Western        6.583333
Mystery        6.551515
Animation      6.517857
Adventure      6.517411
Fantasy        6.445283
Action         6.219841
Comedy         6.169515
Romance        6.040000
Sci-Fi         6.000000
Musical        6.000000
Family         5.709091
Horror         5.674459
Thriller       5.590909
Name: imdb_score, dtype: float64

## Conclusión

- Se obtuvieron estadísticas básicas como media, mediana y moda.
- Se identificaron las entidades clave del dataset.
- Se realizaron agrupaciones por país, director y género para analizar tendencias y patrones.
Este análisis servirá de base para las siguientes etapas de visualización, modelos y predicción.